.tittle {
    color: white;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}
.tittletwo {
    color: black;
    background-color: orange;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    position: sticky;
    margin-left: -93%;
    top: 0;
}
.white {
    color: white;
    text-decoration: none;

}
.center {
    text-align: center;
}
.background {
    background-color: black;
}
.text {
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menutwo {
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
}
.menuthree {
    text-align: center;
    margin-top: 20%;
    font-size: 40px;
}
.menufour {
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
}