.tittle {
    font-size: 45px;
    text-align: center;
    color: blueviolet;
}
.punkt {
    font-size: 35px;
    text-align: start;
    color: grey;
}
.arial {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.cardblack {
    font-size: 30px;
    color: black;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 60px;
}
.cardred {
    font-size: 30px;
    color: rgb(124, 0, 0);
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 60px;

}
.tasktwo {
    font-size: 60px;
}